.auth-form {
    width: 40%;
    height: 35%;
    margin: auto;
    padding: 1rem;
    border: 1.5px solid #c7c7c7;
    border-radius: 3px;
    transform: translateY(35%);
  }
  
  @media (min-width: 768px) {
    .auth-form {
      width: 35rem;
    }
  }
  