.docsSelect{
 width: min-content;
}

/* .docsSelect:focus:focus-within .docsInputDropdown  {
  display: block;
}*/

/* .docsInputDropdown:focus {
  width: 500px;
  height:40px;
  display: block;
  transition: display 500ms;
}*/
/* .docsInput:focus-within .docsInputDropdown {
  width: 500px;
  height:40px;
  display: block;
  transition: display 500ms;
} */

.docsInputDropdown{
  position: absolute;
  display: none;
  z-index:10;
  max-height: 20rem;
  overflow: auto;
}

.selection{
  transition: .5s background-color;
  width: 500px;
  height:40px;
}
.selection:hover{
  transition: .5s;
  background-color: lightgray;
}

.iconActUser{
  margin-left: .3rem;
}

@keyframes cssAnimation {
  0% {}
  99%{opacity:0}
  100%   { display: none; }
}

.waitSelection{
  width: 500px;
  height: 60px;
  padding: .5rem 0;
  text-align: center;
}

.searchBar{
  border: 1px solid #e5e5e5;
}