.DepartBox{
    width: 95%;
    margin: auto;
}

.parentFlex {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin: 0 !important;
    justify-content: space-evenly;
    width: 100%;
}

.departTitle{
    padding: 5px 1.5rem !important;
    font-size: 12pt !important;
    font-weight: 500 !important;
}

.uk-tab>.uk-active>a{
    border-bottom: 3px solid #1e87f0;
}

.inside-card-cont>*{
    min-width: 250px;
}

.card-flex {
    flex-grow: 1;
}