.detailBox{
    width: 95%;
    margin: auto;
}
.max-height{
    max-height: 70vh;
    overflow-y: auto;
}

.leftBox{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
.rightBox{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: right;
    vertical-align: top;
}

.spanTextLess{
    flex: 0 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    display: block;
}
.spanTextMore{
    flex: 0 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width: 90%;
    display: block;
}

@media screen and (max-width: 800px) {
    .detailBox{
        width: 95%;
        margin: auto;
    }
    
    .leftBox{
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .rightBox{
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

/*HERE!!!*/
.grid-container {
    display: grid;
    grid-template-columns: calc(100% - 150px) 150px;
    gap: 0px 0px;
    grid-template-areas: "description attachments";
  }
  
  .description { grid-area: description; }
  
  .attachments { grid-area: attachments; }